@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right " }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>
        @Html.Label("Zdravo " + User.Identity.GetUserName() + "!",htmlAttributes: new {  @class = "nav-link text-light", style = "color:white" })
    </li>
    <li class="nav-item active">@Html.ActionLink("Profil", "UserProfile", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link", @style = "color:white" })</li>
    <li><a style="color:white" class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}
else
{
    <div >
        <ul class="navbar-nav ml-auto">

            <li class="nav-item active">
                <p class="octicon octicon-organization float-left" style="font-size:25px"></p>
                @Html.ActionLink("Registrujte se", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link float-left" })

            </li>
            
            <li class="nav-item active">
                <p class="octicon octicon-person float-left" style="font-size:25px"></p>
                @Html.ActionLink("Ulogujte se", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link float-left" })
            </li>
        </ul>
    </div>
      
      
    
}

