@using CookBook.Models
@model LoginViewModel
@{
//ViewBag.Title = "Ulogujte se";
}
<body class="classForBody">
    <br /><br /><br />  
    <div class="container shadow-lg classForLogin">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-lg-8">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal ", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group form-group form-group-lg">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label text-dark", @style = "font-size:40px" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group form-group form-group-lg">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label text-dark", @style = "font-size:40px" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox myClassForActionLink">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Uloguj se" class="btn btn-secondary btn-lg" />
                            </div>
                        </div>
                        <br /><br />


                        @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
                    }
                </section>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div>
                    <br /><br /><br /><br /><br /><br />
                    <p class="text-dark myClassForActionLink">Ukoliko nemate nalog, molimo Vas da se registrujete</p>
                    <p class="myClassForActionLink">
                        @Html.ActionLink("Registujte se", "Register")
                    </p>
                </div>

            </div>
        </div>
       
        @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>