@model CookBook.ViewModels.RecipesViewModel

  
    <div class="row justify-content-center pt-2 pb-2 ">
        @Html.HiddenFor(m => m.Recipe.Ingredients, new { @id="HiddenTextBox"})
        <div class="col-3 bg-info pozadina pb-2 pt-5 rounded">
            @Html.Label("Sastojak", new { @class = "h4 text-light "})
            @Html.TextBox("Sastojak", null, new { @class = "form-control", @id = "Sastojak" })
        </div>

        <div class="col-3 bg-info pozadina pb-2 pt-5 rounded">
            @Html.Label("Količina", new { @class = "h4 text-light " })
            @Html.TextBox("Kolicina", null, new { @class = "form-control", @id = "Kolicina" })


        </div>
        <div class="col-3 bg-info pozadina pb-2 pt-5 rounded">
            <div class="form-group form-group-lg">
                @Html.Label("Mera", new { @class = "h4 text-light " })
                @Html.DropDownListFor(m => m.IngredientMeasures, new SelectList(Model.IngredientMeasures, "Id", "Name"), "Izaberite meru", new { @class = "form-control", @name = "Mera", @id = "Mera" })
                <br /><br />
                
                      <input type="button" id="btn1" value="Dodaj sastojak" />
            </div>

        </div>

        
    </div>
    <div class="row justify-content-center pt-2 pb-2 ">
        <div class="col-9 bg-info pozadina pb-2 pt-5 rounded">
            <ul class="list-group list-group-flush" id="IngredientList">
               
            </ul>
        </div>

    </div>


    <script>
        $(document).ready(function () {
            $("#btn1").click(function () {                
                var selectedIngredient = $("#Mera").children("[value="+$("#Mera").val()+"]").text();
                $("#HiddenTextBox").append($("#Sastojak").val() + "|" + $("#Kolicina").val() + "|" + selectedIngredient + "\n");
                if ($("#Sastojak").val() != null && $("#Kolicina").val() != null) {
                    $("#IngredientList").append('<li class="list-group-item">' + $("#Sastojak").val() + " " + $("#Kolicina").val() + selectedIngredient + '<input type="button" id="removeIngredient" class="btn btn-secondary btn-sm float-right" value="Ukloni"/>' + '</li>');

                }
               
             
            });

            $(document).on("click", "#removeIngredient", function () {
                $(this).closest('li').remove();
                
            });

            $(function () {
                $("#btn1").click(function (event) {
                    event.preventDefault();
                    $("#Sastojak").val("");
                    $("#Kolicina").val("");
                });
            });
            
            $('#MyForm').submit(function () {
                    
            });

            


        });

       



    </script>
