@model CookBook.ViewModels.RecipesViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-10">
    @Html.LabelFor(m => m.Recipe.Name, new { @class = "h4" })
    @Html.TextBoxFor(m => m.Recipe.Name, new { @class = "form-control ", @Value = Model.Recipe.Name })
    @Html.LabelFor(m => m.Recipe.RecipeTypeId, new { @class = "h4 text-light " })
    @Html.DropDownListFor(m => m.Recipe.RecipeTypeId, new SelectList(Model.RecipeTypes, "Id", "Name"), "Izaberite kategoriju", new { @class = "form-control " })
    <h4>Sastojci:</h4>
    <div>
        <ul>
            @for (int i = 0; i < Model.SplitedIngredients.Count() - 1; i++)
            {
                @Html.TextBoxFor(m => m.SplitedIngredients, new { @class = "form-control ", @Value = Model.SplitedIngredients[i] })
                @*<li style="font-size: 20px;">@Model.SplitedIngredients[i]</li>*@
            }
        </ul>
    </div>
  
</div>