@model CookBook.ViewModels.RecipesViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (@Html.BeginForm("Create", "Recipes", new { @id = "MyForm" }))
{

<div class="container pt-5 pb-5 shadow">
    <div class="row pt-2 justify-content-center">
        <div class="col-md-8 col-sm-6 col-10 col-lg-9  pt-2 bg-info  rounded pozadina">

            <div class="h4 text-center bg-secondary text-light jumbotron rounded shadow-lg ">
                Novi recept
            </div>
            <br /> <br />

            <div class="form-group form-group-lg">
                @Html.LabelFor(m => m.Recipe.Name, new { @class = "h4 text-light " })
                @Html.TextBoxFor(m => m.Recipe.Name, new { @class = "form-control " })
            </div>
            <div class="form-group form-group-lg">
                @Html.LabelFor(m => m.Recipe.RecipeTypeId, new { @class = "h4 text-light " })
                @Html.DropDownListFor(m => m.Recipe.RecipeTypeId, new SelectList(Model.RecipeTypes, "Id", "Name"), "Izaberite kategoriju", new { @class = "form-control " })
            </div>
        </div>
    </div>


    @Html.Partial("CreateIngredient")

    <div class="row justify-content-center pb-2">
        <div class="col-9 bg-info pozadina pb-2 pt-2 rounded shadow-lg">
            <div class="form-group shadow-lg ">
                @Html.Label("Postupak", new { @class = "h4 text-light " })
                @Html.TextArea("Textarea", null, new { @class = "form-control z-depth-1", @rows = "5", @placeholder = "Upišite postupak ovde..." })
            </div>
        </div>
    </div>
    <br /><br /><br />
    <div class="col-md-9 col-9">
        <div class="col-md-4 col-5 bg-info pozadina">
            
                <input type="file" id="imageBrowes" style="display:none;" multiple />
                <input type="button" value="Browse..." onclick="document.getElementById('imageBrowes').click();" />
            <hr />

        </div>
    </div>

    <div class="row justify-content-center pb-2">
        <div id="images" class="col-9 bg-info pozadina pb-5 pt-5 rounded" style="overflow-y: scroll; height: 400px;">
        </div>

    </div>

    <div class="row justify-content-center pb-2">
        <div class="col-9 bg-info pozadina pb-2 pt-2 rounded">
            <button type="submit" class="btn btn-secondary btn-block  float-right">Dodaj recept</button>
        </div>
    </div>
</div>
}




<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function () {

        $("#imageBrowes").change(function () {
            var imgNumber = 5;
            var images = this.files;
            if ($("#images").children("div").length + images.length <= imgNumber) {
                if (images) {
                    for (var i = 0; i < images.length; i++) {
                        if (images[i]) {
                            ReadImage(images[i]);
                        }
                    }

                }
            }
            else {
                alert("Možete postaviti najviše " + imgNumber + " slika!");
            }
            $("#imageBrowes").val('');
        })
    })

    $("#images").on("click", "div", function () {
        this.remove();
    })

    var ReadImage = function (file) {

        var reader = new FileReader;
        var image = new Image;

        reader.readAsDataURL(file);
        reader.onload = function (_file) {

            image.src = _file.target.result;
            image.onload = function () {

                $("#images").append('<div><img class="img-responsive rounded" style="cursor:no-drop" src="' + image.src + '" /></br></br></div>');               
               
            }
        }

    }


</script>











