@model CookBook.ViewModels.RecipesViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (@Html.BeginForm("Create", "Recipes", new { @id = "MyForm" }))
{

    <div class="container pt-5 pb-5 shadow">
        <div class="row pt-2 justify-content-center">
            <div class="col-md-8 col-sm-6 col-10 col-lg-9  pt-2 bg-info  rounded pozadina">

                <div class="h4 text-center bg-secondary text-light jumbotron rounded shadow-lg ">
                    Novi recept
                </div>
                <br /> <br />

                <div class="form-group form-group-lg">
                    @Html.LabelFor(m => m.Recipe.Name, new { @class = "h4 text-light " })
                    @Html.TextBoxFor(m => m.Recipe.Name, new { @class = "form-control " })
                </div>
                <div class="form-group form-group-lg">
                    @Html.LabelFor(m => m.Recipe.RecipeTypeId, new { @class = "h4 text-light " })
                    @Html.DropDownListFor(m => m.Recipe.RecipeTypeId, new SelectList(Model.RecipeTypes, "Id", "Name"), "Izaberite kategoriju", new { @class = "form-control " })
                </div>
            </div>
        </div>


        @Html.Partial("CreateIngredient")

        <div class="row justify-content-center pb-2 ">
            <div class="col-9 bg-info pozadina pb-2 pt-2 rounded">
                <div class="form-group shadow">
                    @Html.Label("Postupak", new { @class = "h4 text-light " })
                    @Html.TextArea("Textarea", null, new { @class = "form-control z-depth-1", @rows = "5", @placeholder = "Upišite postupak ovde..." })
                </div>
            </div>
        </div>

        <div class="row justify-content-center pb-2">
            <div class="col-3 bg-info pozadina pb-5 pt-5 rounded">

            </div>
            <div class="col-3 bg-info pozadina pb-5 pt-5 rounded">
            </div>
            <div class="col-3 bg-info pozadina pb-5 pt-5 rounded">
            </div>

        </div>
        <div class="row justify-content-center pb-2">
            <div class="col-3 bg-info pozadina pb-5 pt-5 rounded">
            </div>
            <div class="col-3 bg-info pozadina pb-5 pt-5 rounded">
            </div>
            <div class="col-3 bg-info pozadina pb-5 pt-5 rounded">
            </div>

        </div>

        <div class="row justify-content-center pb-2">
            <div class="col-9 bg-info pozadina pb-2 pt-2 rounded">
                <button type="submit" class="btn btn-secondary btn-block  float-right">Dodaj recept</button>
            </div>
        </div>
    </div>
}



@*upload slike sa dropzone*@
@*<script src="~/Scripts/dropzone/dropzone.min.js"></script>
    <link href="~/Scripts/dropzone/dropzone.min.css" rel="stylesheet" />
    <div class="jumbotron">
        <form action="~/Home/Upload" class="dropzone" id="dropzoneJsForm" style="background-color:aqua"></form>
        <button id="submit-all">Submit all files</button>
    </div>

    <script type="text/javascript">
        Dropzone.options.dropzoneForm =
            {
                init: function () {
                    this.on("complete", function (data) {
                        //var res = eval('(' + data.xhr.responseText + ')');
                        var res = JSON.parse(data.xhr.responseText);
                    });
                }
            };
    </script>*@

<input type="file" class="dimmy" id="image-input" multiple />
<div class="preview-area" style="overflow-y:scroll; height:400px;"></div>

<script>
    var inputLocalFont = document.getElementById("image-input");
    inputLocalFont.addEventListener("change", previewImages, false);

    function previewImages() {
        var fileList = this.files;

        var anyWindow = window.URL || window.webkitURL;

        for (var i = 0; i < fileList.length; i++) {
            var objectUrl = anyWindow.createObjectURL(fileList[i]);
            $('.preview-area').append('<img src="' + objectUrl + '" />' + '<br/>' + '<hr>');
            window.URL.revokeObjectURL(fileList[i]);
        }
    }

</script>









